@font-face {
  font-family: 'Ahkio';
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/Ahkio-Regular/Ahkio-Regular.woff2") format("woff2");
}
@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');
@import "tailwindcss";
@plugin "daisyui";

body{
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "";
}

@theme {
  --font-display: "Ahkio"; 
}

